.tabs {
  display: flex;
  background-color: $color-background-primary;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $color-border;

  a,
  button {
    padding: $spacing-l $spacing-xxl;
    background-color: transparent;
    border: none;
    color: $color-text-code;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all $transition-speed;
    text-decoration: none;
    display: inline-block;
    text-align: center;

    &:hover {
      color: $color-text-primary;
      // background-color: $color-background-highlight;
    }

    &.active {
      color: $color-info;
      border-bottom: 2px solid $color-info;
    }
  }
}
